body {
	color: #fff;
	background-color: #43413E;
}

.navbar-brand {
	color: #357EBD !important;
	font-weight: bold;
}

.navbar {
  border:0;
  border-radius: 0;
	background-color: #3B3937;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

h1 {
	color: #016C9C;
}

h2 {
  color: #016C9C;
  border-bottom: solid 1px #369;
}

.current {
	background-color: #43413E;
}

.navbar-default .navbar-nav > li.current > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fff;
}


.thumbs img {
	border: 1px solid #AAA;
}

.custom-bullet li {
    display: block;
}

.custom-bullet li:before
{
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #AAAAAA;
}

.jumbotron
{
	background-color: #3B3937;
	padding: 15px;
}
