#top {
	text-align: center;
	color: #fff;
    margin-bottom: 0px;
    background-image: url('/images/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#top h1 {
	margin-bottom: 30px;
}


#top .navbar {
	background:rgba(0,0,0,0);
	border: 0;
	padding: 10px 0px;
}

.navbar li {
	padding: 10px;
	font-size:16px;
}

#top .jumbotron {
	background-color: inherit;
}

.navbar-nav > li > a {
	color: #fff !important;
	padding: 0;
}

.navbar-nav > li.current > a, .navbar-nav > li > a:hover {
	color: #03A9F4 !important;
	border-bottom: 1px solid #03A9F4;
}

@media (min-width: 768px) {
    #top .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    #top .navbar .navbar-collapse {
        text-align: center;
    }
}

#info {
	text-align: center;
	color: #000;
	font-size: 19px;
}

#info img {
	border: 1px solid #6B6F7A;
	padding: 20px 40px;
	margin-bottom:10px;
}

#info ul {
	text-align: left;
	list-style-image: url('/images/SVGs/Tick.svg');
}

#footer {
	text-align: center;
}

h2 {
	margin-top:50px;
	margin-bottom:30px;
}
