body {
	border-top: solid 5px #369;
	color: #111111;
}

.navbar-brand {
	color: #369 !important;
}

.navbar {
  border:0;
  border-radius: 0;
}

h2, h3 {
  color: #016C9C;
  border-bottom: solid 1px #369;
}

.current {
	background-color: #FFF;
}

.current a {
	color: #111111 !important;
}

.thumbs img {
	border: 1px solid #AAA;
}

.custom-bullet li {
    display: block;
}

.custom-bullet li:before
{
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #AAAAAA;
}

.jumbotron
{
	background-image: url(/images/burglar.png);
	background-size: cover;
	height: 100%;
	color:white;
}

.jumbotron .introtext
{
	background: rgba(0, 0, 0, 0.75); 
	padding: 4px 8px; 
	color: white;
	width:70%;
}


