---
layout: page
title: Downloads
permalink: /downloads/
---

<h1>Download ZoneMinder</h1>

<p class="lead">To get started, you'll need to download ZoneMinder for your operating system of choice.  Packages make it super easy to install, and we offer the source code for those that want full control.</p>




{% for download in site.data.downloads %}
{% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
{% if thecycle == '1'%}<div class="row">{% endif %}
	    <div class="col-sm-4">
			<div class="thumbnail">
				<img src="{{ download.img }}" alt="{{ download.header }}" class="img-responsive">
				<div class="caption">
					<h2>{{ download.header }}</h2>
					<p>{{ download.text }}</p>
				</div>
			</div>
		</div>
{% if thecycle == '3' or forloop.last %}</div>{% endif %}
{% endfor %}
