---
layout: page 
title: Features 
permalink: /features/ 
---

<h1>ZoneMinder Features</h1>

<p class="lead">ZoneMinder is an integrated set of applications which provide a complete surveillance solution allowing capture, analysis, recording and monitoring of any CCTV or security cameras. </p>

<p>ZoneMinder can scale from a single camera system to as many  your installation needs!</p>

{% for feature in site.data.features limit:3 %}
{% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
{% if thecycle == '1'%}<div class="row">{% endif %}
	    <div class="col-sm-4">
	        <img src="{{ feature.url }}" alt="{{ feature.heading }}" class="img-responsive img-rounded" />
		</div>
{% if thecycle == '3' or forloop.last %}</div>{% endif %}
{% endfor %}
	
{% for feature in site.data.features limit:3 %}
{% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
{% if thecycle == '1'%}<div class="row">{% endif %}
	    <div class="col-sm-4">
	        <h2>{{ feature.heading }}</h2>
	
	        <p>{{ feature.text }}</p>
	    </div>
{% if thecycle == '3' or forloop.last %}</div>{% endif %}
{% endfor %}

{% for feature in site.data.features offset:3 %}
{% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
{% if thecycle == '1'%}<div class="row">{% endif %}
	    <div class="col-sm-4">
	        <img src="{{ feature.url }}" alt="{{ feature.heading }}" class="img-responsive img-rounded" />
		</div>
{% if thecycle == '3' or forloop.last %}</div>{% endif %}
{% endfor %}
	
{% for feature in site.data.features offset:3 %}
{% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
{% if thecycle == '1'%}<div class="row">{% endif %}
	    <div class="col-sm-4">
	        <h2>{{ feature.heading }}</h2>
	
	        <p>{{ feature.text }}</p>
	    </div>
{% if thecycle == '3' or forloop.last %}</div>{% endif %}
{% endfor %}
