---
layout: home
title: Home
permalink: /
---

<div id="top">

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
			{% assign navs = site.data.navigation %}
			{% for nav in navs %}
				{% if nav.target == '_self' %}
					{% if page.title == nav.text %}
				<li class="current"><a href="{{ nav.link }}" target="{{ nav.target }}">{{ nav.text }}</a></li>
					{% else %}
				<li><a href="{{ nav.link }}" target="{{ nav.target }}">{{ nav.text }}</a></li>
					{% endif %}
				{% else %}
					<li><a href="{{ nav.link }}" target="{{ nav.target }}">{{ nav.text }} <span class="{{ nav.icon }}"></span></a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
</nav>


	<h1>ZoneMinder</h1>

	<p class="lead">A full-featured, open source and state-of-the-art video surveillance software suite which allows you to monitor your home, office, or wherever you want.  Using off the shelf hardware with any camera, you can design a system as large or as small as you need.</p>

	<p><a class="btn btn-primary btn-lg" href="/downloads/" role="button">Download Now</a></p>
</div> <!-- end top -->

<div id="info">

	<h2>What people are using ZoneMinder for</h2>

	<div class="row">
		<div class="col-sm-3">
			<img src="/images/SVGs/Home_Security.svg" alt="Home Security" />
			<p>Home Seccurity</p>
		</div>
		<div class="col-sm-3">
			<img src="/images/SVGs/Theft_Prevention.svg" alt="Theft Prevention" />
			<p>Theft Prevention</p>
		</div>
		<div class="col-sm-3">
			<img src="/images/SVGs/Industrial_and_Commercial_Security.svg" alt="Industrial &amp; Commercial Security" />
			<p>Industrial &amp; Commercial Security</p>
		</div>
		<div class="col-sm-3">
			<img src="/images/SVGs/Nanny_Cams.svg" alt="Nanny Cams" />
			<p>Nanny Cams</p>
		</div>
	</div>

	<h2>Why ZoneMinder is so awesome</h2>

	<div class="row">
		<div class="col-sm-6">
				<ul>
					<li>It's free and open source.</li>
					<li>You are in control of your data.</li>
					<li>Works with a huge list of cameras.</li>
				</ul>
		</div>
	
		<div class="col-sm-6">
				<ul>
					<li>Easy to install - from package or source.</li>
					<li>APIs allow for third-party integration.</li>
					<li>New Android and iPhone apps (3rd party).</li>
				</ul>	
		</div>
	</div>

</div> <!-- end info -->
