<div id="footer">

<hr />
<p>Check us out on:</p>
<ul class="list-inline">
<li><a href="#"><img src="/images/SVGs/facebook.svg" alt="Facebook" /></a></li>
<li><a href="#"><img src="/images/SVGs/twitter.svg" alt="Twitter" /></a></li>
<li><a href="#"><img src="/images/SVGs/Github.svg" alt="Github" /></a></li>
<li><a href="#"><img src="/images/SVGs/Reddit.svg" alt="Reddit" /></a></li>
</ul>

<p>C 2016 ZoneMinder | Privacy Policy </p>
</div>

    <script src="/js/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
