<div id="footer">

<p>Check us out on:</p>
<ul class="list-inline">
<li><a target="_blank" href="https://www.facebook.com/zoneminder"><img src="/images/SVGs/facebook.svg" alt="Facebook" width="50" height="50"/></a></li>
<li><a target="_blank" href="https://github.com/ZoneMinder/ZoneMinder/"><img src="/images/SVGs/Github.svg" alt="Github" width="50" height="50"/></a></li>
<li><a target="_blank" href="https://join.slack.com/t/zoneminder-chat/shared_invite/enQtNTU0NDkxMDM5NDQwLTdhZmQ5Y2M2NWQyN2JkYTBiN2ZkMzIzZGQ0MDliMTRmM2FjZWRlYzUwYTQ2MjMwMTVjMzQ1NjYxOTdmMjE2MTE"><img src="/images/Slack_Mark_Web.png" width="50" height="50" alt="Slack" /></a></li>
<li><a target="_blank" href="https://twitter.com/zoneminder"><img src="/images/SVGs/twitter.svg" alt="Twitter" width="50" height="50" /></a></li>
<li><a target="_blank" href="https://www.reddit.com/r/zoneminder"><img src="/images/SVGs/Reddit.svg" alt="Reddit" width="50" height="50" /></a></li>
<li><a target="_blank" href="https://www.instagram.com/zoneminder"><img src="/images/SVGs/Instagram.svg" alt="Instagram" width="50" height="50" /></a></li>
<li><a target="_blank" href="https://www.youtube.com/channel/UCDKfmvDdcPBrB6rO2aj5Wlg"><img src="/images/SVGs/youtube-red-circle.svg" alt="Youtube" width="50" height="50" /></a></li>
<li><a target="_blank" href="https://discord.gg/tHYyP9k66q"><img src="/images/SVGs/discord.svg" alt="Discord" width="50" height="50" /></a></li>
<li><a target="_blank" rel="me" href="https://mastodon.lol/@zoneminder"><img src="/images/SVGs/mastodon-icon.svg" alt="Mastodon" width="50" height="50" /></a></li>
</ul>
</div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
