<div id="footer">

<p>Check us out on:</p>
<ul class="list-inline">
<li><a target="_blank" href="https://www.facebook.com/zoneminder"><img src="/images/SVGs/facebook.svg" alt="Facebook" title="Facebook" /></a></li>
<li><a target="_blank" href="https://twitter.com/zoneminder"><img src="/images/SVGs/twitter.svg" alt="Twitter" title="Twitter" /></a></li>
<li><a target="_blank" href="https://github.com/ZoneMinder/ZoneMinder/"><img src="/images/SVGs/Github.svg" alt="GitHub" title="GitHub" /></a></li>
<li><a target="_blank" href="https://www.reddit.com/r/zoneminder"><img src="/images/SVGs/Reddit.svg" alt="Reddit" title="Reddit" /></a></li>
</ul>
</div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
