{% include head.html %}  

<div id="top">

{% include navbar.ext %}

<div class="jumbotron">
<div class="container">

    <p class="lead">A full-featured, open source, state-of-the-art video surveillance software system.</p>
	<p class="small">Monitor your home, office, or wherever you want. Using off the shelf hardware with any camera, you can design a system as large or as small as you need.</p>

    <p><a class="btn btn-primary btn-lg" href="/downloads/" role="button">Download Now</a></p>
</div>
</div>

</div> <!-- end top -->

<div class="container">
	{{ content }}
</div>
	{% include footer.html %}

